<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgb.dao.LCAPMapper">

    <insert id="addLCAP" useGeneratedKeys="true" keyProperty="id" parameterType="map">
        insert into lcap(starttime,endtime,c_id,t_id,number,maked,type)
        values (#{starttime},#{endtime},#{carnumber},#{tid},#{number},#{number},#{type})
    </insert>

    <update id="setLCAP">
        update lcap set maked=#{maked} where id=#{eid}
    </update>

    <resultMap id="carMap" type="car">
        <id property="id" column="cid"></id>
        <result property="carNumber" column="cnumber"></result>
    </resultMap>

    <resultMap id="lcapMap" type="com.cgb.pojo.exercises.LCAP">
        <id property="id" column="id"></id>
        <result property="starttime" column="starttime"></result>
        <result property="endtime" column="endtime"></result>
        <result property="number" column="number"></result>
        <result property="maked" column="maked"></result>
        <association property="car" javaType="car" column="cid" resultMap="carMap">
        </association>
    </resultMap>
    <!--<select id="getLCAP" parameterType="map" resultMap="lcapMap">-->
        <!--select lc.id,lc.starttime,lc.endtime,lc.number,lc.maked,c.id cid,c.car_number cnumber-->
        <!--from lcap lc,car c-->
        <!--<where>-->
            <!--and lc.c_id=c.id-->
            <!--<if test="type!=null">and type =#{type}</if>-->
            <!--<if test="tid!=null">and lc.t_id=#{tid}</if>-->
        <!--</where>-->
    <!--</select>-->
    <select id="getLCAP" parameterType="map" resultMap="lcapMap">
        select lc.id,lc.starttime,lc.endtime,lc.number,lc.maked,c.id cid,c.car_number cnumber
        from lcap lc,car c
        <where>
            and lc.c_id=c.id
            <if test="type!=null">and type =#{type}</if>
            <if test="tid!=null">and lc.t_id=#{tid}</if>
        </where>
    </select>




    <insert id="addlcmd" useGeneratedKeys="true" keyProperty="id" parameterType="map">
        insert into lcmd(sid, eid)
        values (#{sid},#{eid})
    </insert>
</mapper>