<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgb.dao.SubjectMapper">

    <insert id="addSubject" parameterType="subjectItem" useGeneratedKeys="true" keyProperty="id">
       insert into subject_item(content, choice_A, choice_B, choice_C, choice_D, answer, `explain`, diffucult_level, c_id, topic_type, img_str, is_image, create_time)
       values (#{content},#{choiceA},#{choiceB},#{choiceC},#{choiceD},#{answer},#{explain},#{difficultLevel},#{titleChapter.id},#{topicType.id},#{imgStr},#{imaged},#{createTime})
</insert>

    <insert id="addTitleChapter" parameterType="titleChapter" useGeneratedKeys="true" keyProperty="id">
        insert into title_chapter(name,subject, create_time)
        values (#{name},#{subject.id},#{createTime})
    </insert>

    <select id="getTitleChapterCount" parameterType="titleChapter" resultType="int">
        select count(*) from title_chapter where name=#{name}
    </select>
    <resultMap id="chapterMap" type="titleChapter">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="count" property="count"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="is_deleted" property="deleted"></result>
        <result column="subject" property="subject" typeHandler="com.cgb.utils.EnumSubjectHandler"></result>

    </resultMap>
    <select id="getTitleChapter" parameterType="titleChapter" resultMap="chapterMap">
        select id,name,count,subject,create_time,update_time,is_deleted
        from title_chapter where name=#{name}
    </select>
</mapper>